# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
## YOUR CODE HERE

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Configure libraries
# The seaborn library makes plots look nicer
sns.set(context = 'talk', style='white')

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('display.precision', 2)

# Make plots just slightly bigger for displaying well in notebook
# set plotting size parameter
plt.rcParams['figure.figsize'] = (10, 5)

In [4]:
df_92130_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92130%202beds.csv")
df_92130_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92130%203beds.csv")
df_92126_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92126%202beds.csv")
df_92126_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92126%203beds.csv")
df_92123_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92123%202%20beds.csv")
df_92123_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92123%203beds.csv")
df_92122_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92122%202%20beds.csv")
df_92122_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92122%203beds.csv")
df_92113_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92113%202beds.csv")
df_92113_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92113%203beds.csv")
df_92037_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92037%202beds.csv")
df_92037_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92037%203beds.csv")
df_92020_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92020%202beds.csv")
df_92020_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92020%203beds.csv")
df_92014_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92014%202%20beds.csv")
df_92014_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/92014%203%20beds.csv")
df_92950_2beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/91950%202%20beds.csv")
df_92950_3beds = pd.read_csv("https://raw.githubusercontent.com/clarissagtz/priceHomeData/main/91950%203%20beds.csv")
df_median_income = pd.read_csv

In [5]:
df_92130_2beds.columns

Index(['ListItem-c11n-8-82-3__sc-10e22w8-0',
       'StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0 href',
       'StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0',
       'StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0 2',
       'StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0 3',
       'StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0 4',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0 2',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0 3',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0 4',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0 5',
       'StyledPropertyCardHomeDetailsList-c11n-8-82-3__sc-1xvdaej-0 6',
       'StyledPropertyCardBadge-c11n-8-82-3__sc-6gojrl-0',
       'Image-c11n-8-82-3__sc-1rtmhsc-0 src',
       'StyledButtonIcon-c11n-8-82-3__sc-wpcbcc-1'],
      dtype='object')

In [6]:
df_list = [df_92130_2beds,df_92130_3beds,df_92126_2beds,df_92126_3beds,df_92123_2beds,df_92123_3beds,df_92122_2beds,df_92122_3beds,df_92113_2beds,df_92113_3beds
          ,df_92037_2beds,df_92037_3beds,df_92020_2beds,df_92020_3beds,df_92014_2beds,df_92014_3beds,df_92950_2beds,df_92950_3beds]

In [14]:
for df in df_list:
    l = []
    for i in df.columns:
        if i=="StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0 3":
            l.append("Home price")
        elif i=="StyledPropertyCardDataArea-c11n-8-82-3__sc-yipmu-0":
            l.append("Home address")
        else:
            l.append(1)
    df.columns = l

In [8]:

df_92130_2beds=df_92130_2beds.drop(columns=[1])

In [9]:
df_92130_2beds.head()

                                 Home address Home price
0   11652 Tierra Del Sur, San Diego, CA 92130     $2.24M
1  12416 Ruette Alliante, San Diego, CA 92130     $1.95M
2                                         NaN        NaN
3  5102 Triple Crown Row, San Diego, CA 92130     - Sold
4     5141 Tattersall Sq, San Diego, CA 92130     $1.80M

In [15]:
for i in range(0,18):
    df_list[i] = df_list[i].drop(columns=[1])

In [11]:
df_list[5].head()

                             Home address Home price
0  3172 W Canyon Ave, San Diego, CA 92123     - Sold
1  2750 W Canyon Ave, San Diego, CA 92123     - Sold
2                                     NaN        NaN
3    2405 Mammoth Dr, San Diego, CA 92123     $1.35M
4  3176 W Canyon Ave, San Diego, CA 92123     - Sold

In [18]:
df_st = ["df_92130_2beds","df_92130_3beds","df_92126_2beds","df_92126_3beds","df_92123_2beds","df_92123_3beds","df_92122_2beds","df_92122_3beds","df_92113_2beds","df_92113_3beds"
          ,"df_92037_2beds","df_92037_3beds","df_92020_2beds","df_92020_3beds","df_92014_2beds","df_92014_3beds","df_92950_2beds","df_92950_3beds"]

df_list[]

'df_92126_3beds'

# Data Cleaning

Describe your data cleaning steps here.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION